{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template paygw_airtelafrica/airtel_busy

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {
        "sesskey": "sesskey",
        "phone": "666666666",
        "country": "UG",
        "component": "enrol_fee",
        "paymentarea": "fee",
        "transactionid": "999999999",
        "itemid": "8",
        "description": "description",
        "reference": "reference"
    }
}}

<div id="airtel-image" class="bg-grey mb-4 w-100 text-center">
    <img src="/payment/gateway/airtelafrica/pix/img.png" title="{{#str}} pluginname, paygw_airtelafrica {{/str}}" alt="{{#str}} pluginname, paygw_airtelafrica {{/str}}">
</div>
<div class="mb-4 w-100 text-center font-italic">{{#str}} airtelstart, paygw_airtelafrica {{/str}}</div>
<div id="airtel-spinner" class="text-center mb-4 w-100 row">
    <span style="margin: auto;">{{#pix}} i/ajaxloader, core, Working {{/pix}}</span>
</div>
<div class="text-center">
    <form id="airtel-form" action="/payment/gateway/airtelafrica/continue.php" method="post">
        <input type="submit" value="{{#str}} proceed, moodle {{/str}}" id="airtel-pay" class="airtel-pay btn btn-primary" data-for="enablepay" disabled>
        <input type="submit" value="{{#str}} cancel, moodle {{/str}}" id="airtel-cancel" class="airtel-pay btn btn-secondary" data-for="enablepay">
        <input type="hidden" name="sesskey" value="{{sesskey}}">
        <input type="hidden" name="phone" value="{{phone}}">
        <input type="hidden" name="country" value="{{country}}">
        <input type="hidden" name="component" value="{{component}}">
        <input type="hidden" name="paymentarea" value="{{paymentarea}}">
        <input type="hidden" name="itemid" value="{{itemid}}">
        <input type="hidden" name="transactionid" value="{{transactionid}}">
        <input type="hidden" name="description" value="{{description}}">
        <input type="hidden" name="reference" value="{{reference}}">
    </form>
</div>
<div id="airtel-progress" class="mt-4 mb-4 w-100 row">
    <div class="text-center w-100">
        <p id="airtel-progress_status" class="text-xs-center"></p>
        <progress id="airtel-progress_bar" class="progress progress-striped progress-animated w-75" style="margin: auto auto;" value="0" max="100"></progress>
        <p id="airtel-progress_estimate" class="text-xs-center"></p>
    </div>
</div>
<div id="airtel-out" class="bg-grey rounded mt-4 mb-4 w-100 text-center"></div>


